body {
    font-family: 'Montserrat', sans-serif;
}


img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

.pd-right {
    padding-right: 32px;
}

.pd-left {
    padding-left: 32px;
}

